[2015-12-16 12:07] dblock opened #1 "Extend on top of Slack Platform"
Offer a story after the Slack platform release, https://medium.com/slack-developer-blog/launch-platform-114754258b91#.iormuux85.

[2015-12-16 14:04] #1 closed

[2015-12-16 14:27] dblock commented on #1
This was easy, updated in https://github.com/dblock/slack-bot-server/commit/a6266cff62d39e9674adb0e49d1114a5f082c3bf. Also updated http://code.dblock.org/2015/11/14/writing-a-slack-bot-service-for-multiple-teams.html.

[2016-01-13 13:30] dblock opened #3 "Turn slack-bot-server into a reusable framework"
We tell users to fork this project and build on top. There're probably a few things that can be done to turn this into a framework, maybe extract a set of gems.

* slack-bot-service: just the [service](https://github.com/dblock/slack-bot-server/blob/master/slack-bot-server/service.rb) parts that starts/stops/restarts/manages a set of teams and bots
* slack-bot-store: a set of models that give a te

[2016-01-22 12:59] dominicsayers commented on #3
I haven't had time to understand how this is put together yet, but this is just a note to describe my situation as an example use-case.

I have an existing Rails app (with a Postgres db) that defines accounts (analogous to Slack teams) each of which has multiple users. Also a user can belong to multiple accounts (just like Slack itself). An account can store credentials for Slack in the form of an

[2016-01-22 13:04] dblock commented on #3
I think you're barking up the right tree :) maybe a good place to start is to add PostgreSQL support to this project, refactoring storage so it can be either mongodb or PostgreSQL. This will help you understand all the moving parts.

[2016-03-11 16:14] keremtiryaki opened #4 "How to scale slack-bot-server?"
If i need to run thousands of bot for thousands of teams.
can i use slack-bot-server?

[2016-03-11 16:23] dblock commented on #4
This has been talked about in https://github.com/dblock/slack-gamebot/issues/81, which is entirely based on this code. I think you can do low thousands today, however there're two known issues, possibly not that problematic.

* It takes time to establish a websocket connection, so startup time starts to become noticeable around 100 bots. Note that http://playplay.io now has 260, and works well, bu

[2016-04-04 20:09] cytomich opened #5 "listen loop error: unknown connection: 3 (EventMachine::ConnectionNotBound)"
Hello.

When run slack-bot-server i get error.

For reproduce, run with command:
`RACK_ENV=production bundle exec unicorn -p 8080`

The strange thing is that error happens **sometimes**, and i can't understand why.
It happens often when i'm trying to restart server (Ctrl+C and run unicorn again, for example).

Log:

[code]

Has someone the same problem?

[2016-04-04 22:06] dblock commented on #5
This is similar to https://github.com/dblock/slack-gamebot/issues/93 and https://github.com/faye/websocket-driver-ruby/issues/38.

Change `EM.defer` to `EM.next_tick` in https://github.com/dblock/slack-bot-server/blob/22a215eec2550119126462c2d75bc58992d4b633/slack-bot-server/service.rb#L16. See if this is still reproducible. If not, I'll take that as a PR.

It does make startup slower when you hav

[2016-04-07 14:38] dblock commented on #5
[This](https://github.com/dblock/slack-gamebot/commit/a5963e7dbfa86fa5a38fdce5d8ddeb832ce83219) seemed to help slack-gamebot too.

[2016-04-15 08:59] vovanmozg opened #6 "Install bot to a team event"
I need to send initial message to the user after adding my application to his team.
I solve this problem with is monkey patching of the file https://github.com/dblock/slack-bot-server/blob/22a215eec2/slack-bot-server/api/endpoints/teams_endpoint.rb after team activating

[code]

Is there right way, to send message to user immediately after he install the bot? Can you give me advice on how to do be

[2016-04-15 11:04] dblock commented on #6
I don't think there's a "right" way at this point. You probably want to do this in a callback after a connection has been established the first time on `start`, to avoid re-creating a connection twice, then remember that you sent a welcome message. But this works too.

[2016-04-15 11:05] dblock commented on #6
I'll leave this open, I'd like an "official" way of doing this, but probably mostly in https://github.com/dblock/slack-ruby-bot.

[2016-04-21 04:02] samk17cmutpm opened #7 "How to use Postgresql in this project"
Hi,
I pulled this project and I could run with MongoDB. It worked fine for me.
So How can I use this project with Postgresql ?

[2016-04-21 21:45] dblock commented on #7
Not without work. You have to rewrite all the mongodb parts with non-mongodb parts. The first step is to make the store pluggable of course.

[2016-04-22 09:48] samk17cmutpm opened #8 "render localhost:5000"
hi, I have just deployed the app to heroku
`[](https://novahub-slack-bot-server.herokuapp.com)`

but when I finish add new bot to slack, it always return to localhost:5000

you can try this by access to the link
https://novahub-slack-bot-server.herokuapp.com

[2016-04-22 13:36] dblock commented on #8
This is something configured in your slack app on api.slack.com.
https://api.slack.com/applications

<img width="720" alt="screen shot 2016-04-22 at 9 36 09 am" src="https://cloud.githubusercontent.com/assets/542335/14743081/b25a6440-086d-11e6-819a-f7b56fdb3d34.png">

[2016-04-22 13:36] #8 closed

[2016-04-24 05:08] samk17cmutpm commented on #8
Thank you so much !

[2016-04-29 06:17] johnhenriksson opened #9 "Use Team ID in commands"
Hi!

I'm building a bot with custom methods and one command looks like this,

[code]

But I need to send the team_id to the method and I can't figure out how. Is there any simple way?

[2016-04-29 16:15] dblock commented on #9
I think you want `client.owner` which is the team and which has a bunch of that information? Reopen if that doesn't solve it.

[2016-04-29 16:15] #9 closed

[2016-05-10 13:31] dblock opened #10 "Deactivating the bot on Slack doesn't (always) deactivate the bot on this side, and cannot be restarted"
Every time you try to re-register a bot that was de-activated on slack, it thinks it's already started and doesn't do anything.

[2016-05-10 17:01] zenmatt commented on #10
I was just going to open a ticket on something similar, I'm not seeing uninstalls (from Slack) register until a restart. Same issue?

[2016-05-10 19:50] dblock commented on #10
@zenmatt Exactly. Want to try to fix it?

[2016-05-10 19:58] zenmatt commented on #10
I've been trying without much luck, went all the way down the stack to slack-ruby-client. Point me in the right direction and I'll take a look?

[2016-05-10 20:10] dblock commented on #10
@zenmatt Reproduce this first, you should be able to just have a bot integration with SLACK_API_TOKEN in the local environment and click the disable button in the Slack UI. What should happen is that the bot notices. Right now I believe the connection will close, the bot will attempt to restart it and go in a loop. We want to have [this](https://github.com/dblock/slack-bot-server/blob/master/slack

[2016-05-10 23:06] zenmatt commented on #10
Got slack-bot-server dummy project running. I'm seeing the same thing here as I am in my own projects: installation works fine, when you remove the app or remove the authorization from the slack.com/apps/manage page for the bot... nothing happens. Slack removes the app on their end, but I don't see any reconnection attempts.

When I stop the server and restart, it works fine, the account_inactive

[2016-05-10 23:11] dblock commented on #10
@zenmatt well that's the bug, so now you (or me) needs to fix it ;)

[2016-05-12 00:29] zenmatt commented on #10
After a clean install, I uninstall. Nothing happens server side until I do a reload, at which point I get this error, so I assume Slack has closed the connection and we're not catching it.

``
00:19:23 web.1  | caught error of type Slack::Web::Api::Error in after callback inside Grape::Middleware::Formatter : account_inactive
00:19:23 web.1  | E, [2016-05-12T00:19:23.531137 #24323] ERROR -- : Slac

[2016-05-12 01:42] zenmatt commented on #10
@dblock Have been testing this out. Slack closes the connection very quickly after you remove authorization, locally the TCP socket transitions to a CLOSE_WAIT state but doesn't time out or close the connection.

I think the problem is here:
https://github.com/dblock/slack-ruby-bot/blob/master/lib/slack-ruby-bot/server.rb#L94-L97

Cannot get the client to fire on close. Any ideas?

[2016-05-12 10:58] dblock commented on #10
Both Celluloid and EventMachine?

[2016-05-12 13:51] zenmatt commented on #10
Just tried with faye-websocket instead of celluloid and everything worked fine.

[2016-05-12 14:28] dblock commented on #10
That narrows the problem, good.

[2016-05-12 15:16] zenmatt commented on #10
Right in here? https://github.com/dblock/slack-ruby-client/blob/e4edaca9f9611d5ea006c34607d3a1f803d3a627/lib/slack/real_time/concurrency/celluloid.rb#L32-L39

I'll take a look.

[2016-05-12 15:23] dblock commented on #10
👍 I opened https://github.com/dblock/slack-ruby-client/issues/90

[2016-05-14 12:21] #10 closed

[2016-05-14 12:22] dblock commented on #10
slack-ruby-client 0.7.3 now has a workaround for this

[2016-06-01 20:04] dblock commented on #3
Closing this thanks to @tmsrjs work on the gem.

I've renamed this project to `slack-ruby-bot-server`, which is consistent with `slack-ruby-bot` and cut 0.1.0. I will close this issue since now this is a gem, splitting functionality into separate libraries and interfaces are further good problems to have.

Next steps is to make bots like [slack-market](https://github.com/dblock/slack-market) or [s

[2016-06-01 20:04] #3 closed

[2016-06-01 20:06] dblock opened #12 "Extract storage, api and web layers into pluggable components"
From #3, we probably want:

* slack-ruby-bot-service: just the [service](https://github.com/dblock/slack-bot-server/blob/master/slack-bot-server/service.rb) parts that starts/stops/restarts/manages a set of teams and bots
* slack-ruby-bot-store: a set of models that give a team storage
* slack-ruby-bot-api: an API for slack button integration and teams
* slack-ruby-bot-web: a Web UI and API to reg

[2016-06-02 16:17] m5rk opened #13 "Undefined method 'owner='"
I'm trying to use the server/service code from this repository in a Rails app. I'm getting this error:

[code]

I looked here for some indication of what owner might be:

https://github.com/dblock/slack-ruby-bot/blob/master/lib/slack-ruby-bot/client.rb

but there's nothing in that gem that appears to help me with `owner`. I'm not sure what the intent or purpose of setting owner is.

[2016-06-02 19:21] tmsrjs commented on #13
Your server will potentially be running many instances of `ruby-bot-client` so it needs a way to keep track of what client belongs to which team.

I'm guessing you're making granular `require`s instead of requiring the full gem, that's what's causing the problem. You can either `require 'slack-ruby-bot-server'` or wait until #14 is merged and a new version is released.

[2016-06-02 19:24] m5rk commented on #13
Yeah, I can't use this repository as-is because it's not really pluggable. I'll look into expanding the requires. Thanks!

[2016-06-02 19:33] dblock commented on #13
I merged #14, @m5rk could you please confirm that that fixed your problem and that `gem 'slack-ruby-bot-server', github: 'dblock/slack-ruby-bot-server'` in your Gemfile works without further changes?

[2016-06-02 19:36] dblock opened #15 "Use inheritance and avoid monkey-patching SlackRubyBot::Client"
https://github.com/dblock/slack-ruby-bot-server/blob/master/lib/slack-ruby-bot-server/ext/slack-ruby-bot/client.rb contains a monkey patch that adds a client field to `SlackRubyBot::Client`. That shouldn't be necessary, the client instantiated should be a child of `SlackRubyBot::Client`.

[2016-06-02 19:39] m5rk commented on #13
@dblock Wow, this team is very responsive. I appreciate that. I think the only remaining obstacle for me is that I don't want to use the `Team` model defined in this repository, but rather my own.

[2016-06-02 19:40] m5rk commented on #13
Similarly, I'd rather not introduce `mongoid`.

[2016-06-02 19:40] tmsrjs commented on #15
It seems that `SlackRubyBot::Client#owner` is used inside the `sample_app` to log team info (team_id, name and domain), but this info is already present in `SlackRubyBot::Client#team`.
I think we can safely remove the monkey patch and modify the `sample_app` to pull this info from `SlackRubyBot::Client#team`.
What do you think?

[2016-06-02 19:52] dblock commented on #13
@m5rk That needs a lot more work IMO, specifically #12. Not something I am going to do in the next few days, but maybe you can take a stab at it?

[2016-06-02 19:53] dblock commented on #13
Did you run this with #14 though @m5rk? Did it fix the issue? If it did lets close this and maybe @tmsrjs wants to cut a 0.1.1?

[2016-06-02 19:55] dblock commented on #15
Possibly, in most projects you need the actual stored team record with the token (the `owner`), not info about it after the client boots (which is what is stored as `team`), or some way to retrieve it, especially on restart. Check out how it's used in say https://github.com/dblock/slack-market.

[2016-06-02 20:02] m5rk commented on #13
I'm currently using this repository's server and service modules via the copy-and-paste method since that allows me to sidestep the mongoid dependencies and the definition of Team. As far as I'm concerned, you've resolved my immediate blocking issue. Thanks!

[2016-06-02 20:29] tmsrjs commented on #15
Maybe I'm missing something, but couldn't we just `Team.find_by(team_id: client.team.id)` lazily when needed? The only scenario I think this could be a problem is if the same mongodb is used to store info for more than one `slack-ruby-bot-server` and more than one of those bots is added to the same team, but that sounds like bad design anyway.

[2016-06-02 20:41] dblock commented on #13
Closing this.

[2016-06-02 20:41] #13 closed

[2016-06-02 20:42] dblock commented on #15
Isn't there a chicken-and-egg problem of knowing `client.team.id`? I am probably wrong, so as long as we can make it work, amen :)

[2016-06-03 17:24] m5rk opened #16 "Add new teams on the fly"
If a Team is added while the service is running, it won't be started until the next time the service is started.

[2016-06-03 17:27] dblock commented on #16
What about https://github.com/dblock/slack-ruby-bot-server/blob/master/lib/slack-ruby-bot-server/api/endpoints/teams_endpoint.rb#L52?

[2016-06-03 17:40] m5rk commented on #16
@dblock That's very helpful, thank you.

I'm forced to take a piecemeal approach with slack-ruby-bot-server since I want to integrate it into an existing Rails app.

If the service is running on a multi-dyno heroku app, won't there be multiple instances of the service running, each with its own private `@services` hash?

[2016-06-03 17:52] dblock commented on #16
The multi-dyno scenario really needs a queue-based approach, see https://github.com/dblock/slack-ruby-bot-server/issues/4.

I'll close this since it's actually supported by the framework today.

[2016-06-03 17:52] #16 closed

[2016-06-04 15:34] m5rk opened #17 "Running service in a distinct process on heroku"
I'm integrating the concepts from this repository into an existing Rails app that's hosted on heroku.

My first approach was to start the service in an initializer (`config/initializers/slack_bot.rb`). This worked, sort of, but was not very stable. Out of memory errors, mostly.

My next approach was to isolate the service into its own process using a Procfile:

[code]

and a rake task:

[code]

It

[2016-06-04 20:13] dblock commented on #17
Async start does what it intends, start something asynchronously without waiting for it. You need to block the main thread so that the process doesn't exit. With EventMachine this can be done with wrapping code up in `EM.run { }` and with Celluloid add this:

[code]

[2016-06-04 20:14] #17 closed

[2016-06-04 20:41] m5rk commented on #17
@dblock I think that'll help. Not sure exactly where to put that. My first guess was here?

[code]

[2016-06-04 20:57] m5rk commented on #17
Heh, it's probably obvious. When you said "add", you meant it. This worked:

[code]

Thanks!

[2016-06-05 13:13] dblock commented on #17
Right, the first example just loops starting many threads :)

[2016-06-05 13:14] dblock commented on #17
Also, you don't need to create a new thread in `self.start!`, remove `Thread.new ...`, it will start the instance then wait forever on the same thread.

[2016-06-05 15:32] m5rk commented on #17
Thank you, @dblock. Your feedback is timely, responsive, and helpful. I appreciate it.

[2016-06-07 14:51] m5rk commented on #12
I recently integrated the concepts from this gem into an existing Rails app. I appreciate your work, @dblock, and all the help you've given me along the way. I was unable to use this gem as-is because I did not want to introduce [MongoDB as a dependency](https://github.com/dblock/slack-ruby-bot-server/blob/master/slack-ruby-bot-server.gemspec#L20).

Here's what I did instead:

1. Created `Rails.ro

[2016-06-07 15:03] m5rk commented on #7
@samk17cmutpm You can see [my comment](https://github.com/dblock/slack-ruby-bot-server/issues/12#issuecomment-224305408) for how I did it.

[2016-06-07 15:05] samk17cmutpm commented on #7
thank you so much :) 👍

[2016-06-07 17:28] dblock commented on #12
+1 on reducing the assumptions about storage - I think the first step would be to extract a storage interface

[2016-06-11 21:19] dblock opened #18 "Support inheriting or extending SlackRubyBot::Server"
See https://github.com/dblock/slack-amber-alert/blob/use-slack-ruby-bot-server/slack-amber-alert/server.rb, an attempt to convert the slack-amber-alert gem into using slack-ruby-bot-server.

We instantiate SlackRubyBotServer::Server [here](https://github.com/dblock/slack-ruby-bot-server/blob/master/lib/slack-ruby-bot-server/service.rb#L24), so deriving from it doesn't work.

For now monkey patchin

[2016-06-11 21:33] dblock opened #19 "RSpec fabricator conflict"
Because of [this](https://github.com/dblock/slack-ruby-bot-server/blob/master/lib/slack-ruby-bot-server/rspec.rb#L3), you cannot define fabricators in the project using slack-ruby-bot-server.

I think we should kick rspec.rb, and just require the app, which would make it simpler to load mongoid configurations and whatever else the apps are doing.

[2016-06-11 21:40] dblock opened #20 "Load rake tasks"
Need a way to load Rake tasks, such as https://github.com/dblock/slack-ruby-bot-server/blob/master/tasks/db.rake. Probably `SlackRubyBotServer.load_tasks`.

[2016-06-15 22:17] dblock opened #21 "Pass through additional options in SlackRubyBot::Server.initialize"
See https://github.com/dblock/slack-ruby-bot-server/blob/master/lib/slack-ruby-bot-server/server.rb#L10, pass through other options like `send_gifs` or `aliases`.

[2016-06-20 17:26] dblock commented on #21
Fixed via https://github.com/dblock/slack-ruby-bot-server/commit/aa8cff2c638ef2f78d4362a2184cb1a887d7aa6a.

[2016-06-20 17:26] #21 closed

[2016-07-01 08:36] dblock commented on #6
I've implemented lifecycle callbacks in https://github.com/dblock/slack-ruby-bot-server/commit/325eb944f7450caff6c9ec1cb309ea1dc7c08f40. You should be able to do this:

[code]

I think we need to make `.client` public in slack-ruby-bot. Would love a PR.

Give it a try?

[2016-07-01 08:36] #6 closed

[2016-07-03 12:53] dblock commented on #18
This was implemented via https://github.com/dblock/slack-ruby-bot-server/commit/30094049d0ee2c689f66c30415a1e9643229e276 and https://github.com/dblock/slack-ruby-bot-server/commit/1f64537eb0dcc418d6ac5155590b99df7ba0b790.

[2016-07-03 12:53] #18 closed

[2016-07-03 12:54] dblock commented on #5
No longer using EventMachine by default, closing.

[2016-07-03 12:54] #5 closed

[2016-07-09 16:21] dblock opened #22 "Allow subclassing of SlackRubyBotServer::App"
Currently monkey patching.

[code]

[2016-07-09 19:25] #22 closed

[2016-08-07 16:28] dblock opened #23 "Server-side removal of bot doesn't deactivate it"
See https://github.com/dblock/slack-gamebot/issues/122.

[2016-08-07 16:33] #23 closed

[2016-08-18 00:13] emirkin opened #24 "Where to run 'bundle install' and 'foreman start' ?"
The documentation is not clear about where to run the start commands -- in the bot directory or the sample app.

[2016-08-18 05:26] dblock commented on #24
The sample app is just a skeleton, you can't run it from within the project, although it *might* be possible. A full working version can be found in https://github.com/dblock/slack-ruby-bot-server-sample. Would love some README/documentation improvements and possibly removal of it from the project and just pointing there.

[2016-08-31 01:40] dblock opened #26 "Update domain (and other info) on successful connection"
[code]

It's hard to locate the team by its domain name, `bar`.

[2016-09-22 17:34] corprew opened #29 "(exception raised in app.rb) MongoLab rebranded as mLab and now sets MONGODB_URI as its ENV variable."
MongoLab rebranded as mLab and now sets MONGODB_URI as its environment variable on heroku.

[code]

Would you accept a pull request to add that to the list of acceptable environment variables in `config/mongo.yml` and in app.rb?  If so, would you prefer adding it or replacing the current variable for mongolab?

This is the line that is causing the problem:

[code]

[2016-09-22 20:02] dblock commented on #29
Yes of course, please PR.

[2016-09-24 11:33] dblock opened #30 "Recover from undetected slack-side disconnects"
It seems that there're server-side disconnects that aren't detected. Probably need a monitoring thread to recover from that.

[code]

[2016-09-26 14:40] dblock opened #32 "Have all the Mongo ENV variables in one place."
Extract the checking of the ENV variables into a class method and reuse it from the .yml file to avoid repeating the list. It would also let you add a variable without having to update the .yml in all downstream apps.

Related to https://github.com/slack-ruby/slack-ruby-bot-server/pull/31.

[2016-10-14 08:12] huydangquoc opened #33 "slack-ruby-bot-server works but randomly"
Hi @dblock ,

This is Huy,
I tried your tutorial and able to run 'slack-ruby-bot-server-sample' locally.
However, it work randomly as in attached image.
Do you have any suggestion?

![screen shot 2016-10-14 at 15 06 15](https://cloud.githubusercontent.com/assets/18465465/19380231/81415de0-9220-11e6-8653-6f2a1d157ad7.png)

Best Regards,
Huy Dang

[2016-10-14 14:49] dblock commented on #33
That just looks like Slack having a hickup. It shouldn't ever take 60 seconds to make an HTTP request. Is this still happening?

[2016-10-17 01:46] huydangquoc commented on #33
Hi @dblock

Sorry for not be able to reply you promptly.
I played around and tried to find re-produce steps for this issue but no luck.
However, I found another issue and post it in [slack-ruby-bot-server-sample](https://github.com/slack-ruby/slack-ruby-bot-server-sample/issues/1)

Best Regards,
Huy Dang

[2016-10-17 11:31] dblock commented on #33
I'm going to close this one, clearly looks like a transient issue.

The other problem you found looks like a legit bug.

[2016-10-17 11:31] #33 closed

[2016-10-25 18:25] dblock opened #34 "undefined method `call' for nil:NilClass"
When serving static pages:

[code]

Current workaround is:

[code]

[2016-10-25 18:25] dblock commented on #34
https://github.com/slack-ruby/slack-ruby-bot-server-sample/issues/3

[2016-10-25 18:28] dblock commented on #34
Caused by https://github.com/migrs/rack-server-pages/issues/5, fixed in https://github.com/migrs/rack-server-pages/pull/9.

[2016-10-26 04:36] #29 closed

[2016-11-01 13:38] neilberkman opened #35 "Document how to add hooks"
I’d like to specify my own message hook, which I’d like to be called if the default `SlackRubyBot::Hooks::Message` handler returns false.  I see how to do this if I were creating a SlackRubyBot directly but don’t see how when I’m using SlackRubyBotServer.  It would be very helpful if this could be added to the documentation.

[2016-11-01 15:31] neilberkman commented on #35
Closing this out, as I see that this is covered in the "Server Class" section of the docs.

[2016-11-01 15:31] #35 closed

[2016-11-04 06:15] corprew opened #36 "delete /app.json, doesn't appear to do anything."
in https://devcenter.heroku.com/articles/setting-up-apps-using-the-heroku-platform-api

Heroku doesn't, at least in my deploy and based on my reading of the docs, pick up app.json files from gems.  app.json probably should have been deleted in https://github.com/slack-ruby/slack-ruby-bot-server/commit/560295baf8c2bddbc4c1d3ebfb127d2bb33798bc

LMK, and I'll submit a PR to delete this after I get to

[2016-11-04 14:33] dblock commented on #36
Right, that .json and heroku deploy button should be moved to https://github.com/slack-ruby/slack-ruby-bot-server-sample. Right now we duplicate that in https://github.com/slack-ruby/slack-ruby-bot-server/tree/master/sample_app, and that should be cleaned up too - there're some tests using that I believe, so it should be rolled up.

[2016-11-08 00:13] corprew commented on #32
@dblock before I commit a fix for this, why is the server checking all the potential mongodb variables rather than having someone set which variable to use in config?  I haven't seen that, so figured I'd ask to make sure that I understood your intent.

[2016-11-08 13:12] dblock commented on #32
It's mostly to just be compatible with anything out of the box when deploying to something like Heroku. Less manual labor. If you think there's a better way, happy to hear it!

[2016-11-16 23:04] vizakenjack opened #37 "account_inactive when trying to add app"
Hello. I had this gem working fine, but now I got this error while trying to add app to a team. I have tried to remove app and add it again, but got the same error too (both on my local machine and on VPS).

Errors is:
[code]

[2016-11-17 13:02] dblock commented on #37
This says that the token you have in that team is definitely disabled, there's really not much more to it. Maybe you have an old team in the database and you're not updating its token after the oauth workflow or something like that?

[2016-11-17 19:24] Vizakenjack commented on #37
@dblock thanks for answer. I have tried to clean database (i opened mongo console and dropped it) and run it again, but it didn't work :(. Also, I have tried to install the app for a newly created team, but got the same error.

I got following databases on mongo and it says they are empty:
bot-server_development	(empty)
test	(empty)

How can I clean it all to make sure there are no disabled teams?

[2016-11-17 19:28] Vizakenjack commented on #37
Ok, looks like I got it working. I had to rename default bot username to a new one.

[2016-11-17 20:01] dblock commented on #37
That doesn't explain what's going on though ....

[2016-12-02 14:16] jtoy commented on #7
awesome, can we get this added into base

[2016-12-06 14:34] lqfortytwo commented on #7
I want to use Postgresql also, is it possible to merge it into master branch?

[2016-12-06 14:38] dblock commented on #7
The PR https://github.com/slack-ruby/slack-ruby-bot-server/pull/38 is in progress, there's still some work to finish this, @zachfeldman is doing a great job, hopefully it will wrap up soon!

[2016-12-06 16:03] jtoy commented on #7
I can help test it.  How can I help?

-- Sent from my mobile

[2016-12-11 15:57] zachfeldman opened #39 "When we start a new service, we don't check if one is already running for that team"
This may result in duplicate messages or spiked CPU usage.

[2016-12-11 15:57] zachfeldman opened #40 "Should add an API method for ensuring all active teams are started"
Maybe this isn't the best way to do this. But when I authenticate/add a new team from my own custom integration, the service doesn't start.

Another related issue is that there's no checking that an instance already has a thread running that's connected to it, which would help with this issue, I filed separately for that:
#39

[2016-12-12 07:20] sherm8n opened #41 "How to use OmniAuth in this project?"
Hey there,

I would like to use OmniAuth to allow users to to connect Facebook to my slackbot. Does anyone have a good starting point to work from? :)

Many thanks,
Sherman

[2016-12-16 16:07] p1Machado commented on #12
I am starting some work to extract the storage interface for use in a private project.

It will be available in my repositories, would appretiate some feedback latter.

[2016-12-21 16:40] p1Machado commented on #12
I am looking to SlackRubyBotServer::App and considering what should or should not continue in this class.
Some methods I think that should be removed, because they belong to storage processing, and others related to database, but not exclusively.

I think some methods should be removed from the App class:
silence_loggers!
check_mongodb_provider!
create_indexes!

Others, even being related to datab

[2016-12-21 19:25] dblock commented on #12
Take a look at https://github.com/slack-ruby/slack-ruby-bot-server/pull/38, build on top of that.

[2016-12-22 13:34] adriacidre commented on #37
I've found the same behaviour, basically [this](https://github.com/slack-ruby/slack-ruby-bot-server/blob/4f87fed2644d5232bcf06fa6b021fb02ce35396b/lib/slack-ruby-bot-server/app.rb#L72) is raising an exception `account_inactive` so the web server can't start propertly and keeps rebooting.

I've fixed it by catching that exception and re-adding the app. Removing the entire database didn't helped, so

[2017-01-30 23:22] swalberg opened #42 "Reloading the server team object when modifying from the API"
Hi,

I'm working on a bot where the API can make changes to the `Team` object but the changes aren't reflected in the bot until it's restarted. I was able to follow the example from the market bot, where the [Stripe payment is recorded](https://github.com/dblock/slack-market/blob/master/slack-market/api/endpoints/subscriptions_endpoint.rb#L31) and can verify that if I reload the document from Mong

[2017-01-31 12:35] dblock commented on #42
I've been doing a `reload` on the Team instance, like [here](https://github.com/dblock/slack-gamebot/blob/5ee71f9819c94e764c73823065579bd79fd4049f/slack-gamebot/commands/mixins/premium.rb#L10), I think it's a fine strategy. It just does an extra `find` in mongodb. I am sure there's a more advanced version that monitors this change, but YOLO.

Does this help?

[2017-01-31 12:40] swalberg commented on #42
Aha! That works, thanks for the pointer. I'll go with that.

Thanks for your work on the project. It's a great framework on which to build a bot!

[2017-01-31 12:40] #42 closed

[2017-03-01 19:05] hubbazoot opened #46 "Pb reset team is not resetting the season."
I first type "pb reset <team>" and get the response "No matches have been recorded."

When I then type "pb matches" I see a list of games.

[2017-03-02 12:42] dblock commented on #46
Is this on playplay.io? Team ID?

[2017-03-02 12:43] dblock commented on #46
I'm closing this here, I think you meant to ask this in https://github.com/dblock/slack-gamebot

[2017-03-02 12:43] #46 closed

[2017-03-06 21:45] dblock commented on #7
https://github.com/slack-ruby/slack-ruby-bot-server/pull/48 is working all around but there's some work before it can be merged, maybe someone can help

[2017-03-07 15:11] #7 closed

[2017-03-07 16:26] dblock commented on #32
These are now entirely in mongoid.yml, closing.

[2017-03-07 16:26] #32 closed

[2017-03-07 16:28] dblock commented on #7
I'm going to cut a release soon, if anyone wants to try this out from master, that'd be great.

[2017-03-12 00:06] alexagranov opened #51 "remove all mongoid dependencies from gemspec"
Hi all - Great work on getting PG in the mix!

Can we put the icing on the cake and remove `kaminari-mongoid` and `mongoid-scroll` from the gemspec so we can remove mongoid as a dependency altogether for those of us on PG?

https://github.com/slack-ruby/slack-ruby-bot-server/blob/master/slack-ruby-bot-server.gemspec#L25
https://github.com/slack-ruby/slack-ruby-bot-server/blob/master/slack-ruby-bot

[2017-03-12 04:45] dblock commented on #51
Ah yes that's definitely a leftover mistake. PR welcome or I'll take care of it sooner than later.

[2017-03-12 14:44] #51 closed

[2017-03-12 14:44] dblock commented on #51
Fixed in https://github.com/slack-ruby/slack-ruby-bot-server/pull/52.

[2017-03-12 15:09] dblock commented on #7
Released AR support in 0.6.0.

[2017-03-29 11:38] dblock opened #55 "Release v. 0.6.1"
For @alexagranov, please.

Follow https://github.com/slack-ruby/slack-ruby-bot-server/blob/master/RELEASING.md

[2017-03-30 00:14] alexagranov commented on #55
v0.6.1 released.

v0.6.2 is set up for Next version.

[2017-03-30 00:14] #55 closed

[2017-03-31 04:22] dblock commented on #55
Thanks @alexagranov !

[2017-04-20 19:47] jmccartie commented on #41
@sherm8n I did it by bypassing the Api middleware and running Sinatra

[code]

This allowed me to do my own custom pages and integrate Oauth:

[code]

Also, I got stuck for awhile with some Oauth errors, until I realized there was a conflict between Rack and Sinatra sessions. So make sure to remove `Rack::Sessions::Cookie` from `config.ru` and use Sinatra's

[code]

[2017-05-03 12:28] keating opened #56 "I have to restart the server when the bot is added to a new team"
Sorry, this may not be an issue, but I do not find how to make it works when the bot is added to a new team.

Thank you!

[2017-05-03 15:07] dblock commented on #56
The server needs to be made aware that that happened, it doesn't get a notification from slack or anything. This is why [this API endpoint](https://github.com/slack-ruby/slack-ruby-bot-server/blob/master/lib/slack-ruby-bot-server/api/endpoints/teams_endpoint.rb#L33) exists. So you want to implement the add to slack button integration which on success does this `POST`.

[This video](http://code.dbl

[2017-05-03 15:07] #56 closed

[2017-05-29 12:40] nfedyashev opened #57 "sample_app_activerecord Gemfile needs fixing(incompatible versions)"
[code]

sample_app_mongoid is fine though.

[2017-05-29 18:43] dblock commented on #57
There was at some point a compatible version, so this is a bit strange, it should be able to find it. But feel free to fix/upgrade to AR 5 and such.

[2017-05-29 20:01] alexagranov commented on #57
A fresh checkout worked fine for me, attaching the output below.  Are you sure @nfedyashev that no global gems are in play?

[code]

[2017-06-10 17:29] mwiley opened #59 "Should add documentation for App, Service, and Server"
I'm not using this gem quite how it's described in the readme.

I have a React app that starts the OAuth flow with Slack, and then sends the code to its backend, a Rails app. I'm creating or finding a User and returning a JWT for the React app for the user to sign in, but I also want to ensure a bot is created if it doesn't exist for their Team. The Rails app exchanges the code with the OAuth2 gem

[2017-06-12 16:49] dblock commented on #59
I think that what you want is just slack-ruby-bot, this gem is one kind of opinionated server that includes all the parts. Does that make sense?

[2017-06-12 16:53] mwiley commented on #59
slack-ruby-bot isn't enough for what I want, but part of this library is. Slack-ruby-bot just runs once instance of the bot, and I'd have to write code myself to manage starting an instance for each Team. I'm just using the part of this library that runs multiple bot instances in a new thread.

[2017-06-13 11:03] nileshtrivedi commented on #30
I deployed sample activerecord app on Heroku and seem to be facing the same issue. What's the best way to implement this?

[2017-06-14 15:27] dblock commented on #59
There're no plans to break this up, unless you want to try and extract some code from here and into `slack-ruby-bot` or another gem.

[2017-06-23 00:04] alexagranov opened #61 "Strange bundler error with activerecord build on Travis"
@dblock Something very strange happening here: https://travis-ci.org/slack-ruby/slack-ruby-bot-server/builds/245005962

activerecord 4.0.0 is resolved to either activesupport 5.1.1 and/or 4.0.0 ??

Is this a bundler issue?

[2017-06-23 12:11] dblock commented on #61
I am not sure what's going on here ...

[2017-06-24 01:15] alexagranov commented on #19
@dblock I'm able to use fabrication and faker in my project that's using slack-ruby-bot-server just fine.  Maybe this resolved itself?

[2017-06-26 15:24] dblock commented on #19
Do you require `slack-ruby-bot-server/rspec`?

[2017-07-05 15:43] nfedyashev commented on #61
Looks like a duplicate  https://github.com/slack-ruby/slack-ruby-bot-server/issues/57

To make it work locally(I was working on a PR) I had to specify some gem versions explicitly

[2017-07-05 15:47] nfedyashev opened #62 "How to ignore messages posted by the bot itself?"
Hi!

Can anyone please give me an idea on how to configure(slack? slack-ruby-bot-server?) so that it ignores messages sent by the bot itself so that those are not attempted to be interpreted as slack-ruby-bot-server commands?

[2017-07-05 18:10] dblock commented on #61
@nfedyashev Maybe you can sort this out and PR a fix?

[2017-07-05 18:13] dblock commented on #62
There's a `message_to_self?` helper in slack-ruby-bot, see https://github.com/slack-ruby/slack-ruby-bot#message-loop-protection and https://github.com/slack-ruby/slack-ruby-bot/blob/master/lib/slack-ruby-bot/hooks/message.rb#L19.

[2017-07-05 18:13] #62 closed

[2017-07-05 18:44] nfedyashev commented on #62
@dblock thanks a lot! 👍

[2017-07-17 19:13] benjaminjackson opened #63 "Docs on scaling with Unicorn"
Are there any docs or guidance on scaling out a bot server to use more than one worker proc? This seems like it would be needed for any bot with a web server component that needs to handle multiple concurrent requests.

[2017-07-17 19:21] dblock commented on #63
Quite a bit of discussion on this in https://github.com/slack-ruby/slack-ruby-bot-server/issues/4 and related. I'll close this one in favor of that.

[2017-07-17 19:21] #63 closed

[2017-07-17 19:22] dblock commented on #63
Add Unicorn specific questions there. IMO the web portion needs to be run separately from the bot portion if that's what you want to do, but then it makes it really hard to add teams dynamically, etc.

[2017-07-18 21:25] benjaminjackson commented on #4
I'd add that to run a web server that accepts multiple connections, it's good to split them out into separate processes. I have a Procfile setup that spawns a web proc with multiple Unicorn children and one worker proc with a single thread for the bots:

[code]

[2017-07-19 00:28] dblock commented on #4
The problem with this is that a service needs to expose an endpoint for registration. When that happens you need to start a bot. I guess it's ok that the `WEB_ONLY` part starts that bot for the time being, but it's still not ideal.

[2017-08-06 21:24] dblock opened #64 "Integrate with Stripe for commercial bots"
Port Stripe integration into either a new gem or something built into slack-ruby-bot-server.

https://github.com/dblock/slack-gamebot/commit/7c2fa2b1870b6fe8d9bce57daf158eb4a7027140

[2017-08-20 18:45] dblock opened #66 "Store access token, scope, incoming webhook info, etc."
See https://github.com/dblock/slack-sup/commit/3a497b436d25d3a7738562655cda64b180ae0096, there're two tokens returned via OAuth, one for the bot user and the other that has other requested oauth permissions. We need to store both in order to provide a token with other scopes than default `bot` scope.

https://api.slack.com/docs/oauth

[code]

[2017-08-25 12:45] darbyfrey opened #68 "Question: Why Unicorn instead of Puma?"
Or perhaps more generally, why is Unicorn a runtime dependency? It seems like it could be moved to a development_dependency. My app is using Puma, so it seems unnecessary to have to have Unicorn in the bundle as well.

@dblock

[2017-08-25 14:27] dblock commented on #68
Yes you're right. You should be able to use slack-ruby-bot-server with any web server and it doesn't need to be a dependency. Will take a PR that includes some doc and UPGRADING updates. I also think some samples like  https://github.com/slack-ruby/slack-ruby-bot-server-sample will need an update.

[2017-08-30 01:09] #66 closed

[2017-12-12 12:36] BenBach commented on #4
Hi. I have the exact same issue. Our memory consumption on our web dyno is growing and I am trying to extract the bots to a worker. Did someone find a solution for this issues?

Thank you very much in advance

[2017-12-12 12:52] BenBach commented on #16
Did someone implement a multi dyno approach already (which support dynamically creating new teams)?
Any help highly appreciated. Thank you very much :-)

[2017-12-13 03:31] alexagranov commented on #4
So I'm currently testing out a multi-bot approach that overrides SlackBotRubyServer::Service `start!` and `start_from_database!` to do the following:

- upon boot, grab `Team.active.where(server_id: nil, is_admin: true).where.not(bot_token: nil).limit(ENV['SLACK_MAX_TEAM_COUNT']).lock(true)` and walk through each running callbacks and `start!`.  This ensures each worker starts a set number of dist

[2017-12-17 04:00] dblock commented on #16
Not AFAIK @BenBach

[2017-12-17 04:05] dblock commented on #4
While that may work, I suspect there's going to be a lot of edge cases. Of course you should show us whatever you have and PR improvements that make it possible/easier into this lib.

I'd like to see an interface in slack-ruby-bot-server that abstracts the whole distribution mechanism away, so that we can plug SQS or whatever other queue. Load balancing and such are all common problems in distribu

[2017-12-17 11:43] BenBach commented on #4
@alexagranov Sounds great. I am curious :-)

[2017-12-17 20:23] alexagranov commented on #4
@dblock - true enough.  I neglected to mention though that the aim of my approach is to segment team-specific traffic to a specific bot(s) and not actually to load-balance - keeping it simple at first.  I do think something like zookeeper would be useful once a particular team's size (or SLA) dictates multiple bot workers to share the load.

[2017-12-18 04:45] alexagranov commented on #4
oh, and there's also the issue of multiple bot workers per team:  if each bot worker is using the same bot token, I believe I've seen Slack broadcast the same user input to all connected realtime clients.  Could probably stand to redo that experiment though...

[2018-01-12 02:48] fordesmith opened #70 "Error with sample active record app - pg version?"
Hi,

(newby warning...)

I set up the slack-ruby-bot and now wanted to try the active record sample server app.

After running the bundler, when I try to create the db...

`rake db:create db:migrate --trace`

...I receive the following error (as part of the trace)

`Gem::MissingSpecVersionError: Could not find 'pg' (~> 0.18) - did find: [pg-1.0.0]`

I can`t spot where the pg version is being speci

[2018-01-12 04:42] dblock commented on #70
Does `bundle exec rake db:create db:migrate --trace` work?

[2018-01-12 06:10] fordesmith commented on #70
Hi David.

Unfortunately no, the error I throws is: `LoadError: cannot load such file -- standalone_migrations`

The dependencies state I'm `Using standalone_migrations 1.0.13` ..however, when I checked `gem list` I noticed there were two versions installed `standalone_migrations (5.2.3, 1.0.13)`

I uninstalled and re-ran the bundler (so I only now have v 1.0.13) but I still get the same error.

[2018-01-14 16:45] dblock commented on #70
I think you may be still a bit confused around bunder vs. non-bundler, so you're chasing the wrong symptoms. First, everything should be running under Bundler and those dependencies are declared in Gemfile and you have to successfully run `bundle install` before anything can work. Assuming `standalone_migrations` is in Gemfile (probably as a dependency of something else, which you an check by look

[2018-01-14 16:45] #70 closed

[2018-01-15 05:10] fordesmith commented on #70
Thanks Daniel, I appreciate your time.

I will outline exactly the steps taken and the console outputs via issues
on my cloned repo (including the demo slack-ruby-bot-server example and
instructions). The gemfile (which specifies require
'standalone_migrations') and the rakefile are the unaltered versions from
your repo.

Forde

On Mon, Jan 15, 2018 at 3:45 AM, Daniel Doubrovkine (dB.) @dblockdoto

[2018-01-15 23:09] dblock commented on #70
@fordesmith You want to use this gem via `Gemfile` in your own project.

[2018-01-17 02:20] fordesmith commented on #70
Thanks Daniel, I am doing this already. Any other ideas?

On Tue, Jan 16, 2018 at 10:09 AM, Daniel Doubrovkine (dB.) @dblockdotorg <
notifications@github.com> wrote:

[2018-01-17 03:37] dblock commented on #70
Link to your project on github?

[2018-01-27 19:52] abgaryanharutyun opened #71 "Init new team when server already run"
Hi @dblock . I tried to init new slack bot server instance when the new team joined in my system and my server already run. I'm using active record and my teams stored in `team` table. Please, can you provide me solution for that?

[2018-01-27 22:10] dblock commented on #71
I think you want [this](https://github.com/slack-ruby/slack-ruby-bot-server/blob/master/lib/slack-ruby-bot-server/api/endpoints/teams_endpoint.rb#L63).

[2018-01-27 22:10] #71 closed

[2018-01-28 06:50] abgaryanharutyun commented on #71
Ohhh thanks @dblock

[2018-06-14 01:53] dblock opened #73 "Add ping monitoring"
Currently duplicating this all over the place.

https://github.com/dblock/slack-market/commit/7f1438a3fdd4d5624466c26b22620a493fdaf7ea
https://github.com/dblock/slack-gamebot/commit/f41add099b9404c8f1a56fb2652ce179accd36de
etc.

[2018-08-21 11:43] dblock commented on #73
Proposed implementation in https://github.com/slack-ruby/slack-ruby-bot-server/pull/74

Currently won't ping unless the bot started once, which is a problem for issues like https://github.com/slack-ruby/slack-ruby-client/issues/218

[2018-09-07 12:26] #73 closed

[2018-09-14 16:09] andymayer opened #77 "Get email address of Slack user"
Hi there,

I was wondering what the best way is to obtain the email address of a user that is sending a message to my bot.  I tried calling "users_profile" as follows:

[code]

But I get the following error:

[code]

[2018-09-14 16:46] andymayer commented on #77
I have figured it out by doing this:

[code]

But  is it okay to keep calling `Slack::Web::Client.new` for every message received?

[2018-09-14 20:04] dblock commented on #77
In the RTM client context the `client` is an RTM client, you want `client.web_client.users_profile`. Also [this](https://github.com/dblock/slack-sup/blob/cafea74bbf77af4882fbf2887db5d17b3b046f24/slack-sup/models/team.rb#L166) might be helpful.

[2018-09-14 20:04] #77 closed

[2018-09-18 12:36] dblock opened #78 "Restart worker fails to restart and dies on closed stream"
[code]

[2018-09-25 23:51] dblock commented on #78
Still a problem, that didn't fix it :(

[2018-09-25 23:52] dblock commented on #78
[code]

[2018-09-25 23:59] dblock commented on #78
[code]

[2018-09-26 00:12] dblock commented on #78
@ioquatix could use a bit of help here, I think I am not closing this thing correctly in all cases:

1. Async::IO::SSLSocket#close
2. Slack::RealTime::Concurrency::Async::Socket#close
3. Slack::RealTime::Concurrency::Async::Socket#emit(close event)

This works most of the time, but sometimes ends up with `IOError` in 2). Looking at the order it makes sense that sending a frame over a closed SSL so

[2018-09-26 10:58] dblock commented on #61
Closing as dup of #57.

[2018-09-26 10:58] #61 closed

[2018-09-26 10:59] dblock commented on #59
I'll close this.

[2018-09-26 10:59] #59 closed

[2018-09-26 11:01] dblock commented on #41
I'm connecting users to Strava in https://github.com/dblock/slack-strava via their OAuth workflow as another example.

Closing this since there's no work for this library.

[2018-09-26 11:01] #41 closed

[2018-09-26 11:04] dblock commented on #34
This was released in rack-server-pages 0.1.0.

[2018-09-26 11:04] #34 closed

[2018-09-26 11:04] dblock commented on #30
This is duplicate of #73 (and a few others). The ping worker is enabled by default now.

[2018-09-26 11:04] #30 closed

[2018-09-26 17:55] alexagranov opened #82 "Why truncate the ping exception message?"
Was the message a monster?

https://github.com/slack-ruby/slack-ruby-bot-server/blob/61d1c90c51fd106ad3d29ebda6bc7239fb45ecc7/lib/slack-ruby-bot-server/ping.rb#L48

I'm seeing:
`Error pinging team f8123742-6b26-11e8-ab17-e31605b4ab47: 751: unexpected token....`

I bet there could be some goodness in the rest of that message...

[2018-09-26 19:12] dblock commented on #82
Yes, it's a massive HTML page that is always "server unavailable". It should not be a 200, but it's what it looks like. I can leave this open so we can maybe do a better job at parsing this?

[2018-09-26 19:30] alexagranov commented on #82
Gotcha.  Ya, let me play with a slightly longer truncation and see if that reveals any more useful details.

[2018-09-26 20:28] alexagranov commented on #82
Ah ok, nvm, I see we need ActiveSupport pulled in by `slack-ruby-client`

[2018-11-17 00:36] alexagranov commented on #82
@dblock I've moved completely off RTM and ported to Events API.  Going to be hard to get back to this.  I'm fine with closing if you are.

[2018-11-17 20:02] dblock commented on #82
It's still an issue, lets leave this open.

[2018-11-21 12:34] leechou opened #84 "How hard to change the websocket driver?"
I'm trying to integrate this code into an existing rails deployment, but there's a dependency collision between rails 5.1.4 and this code. Rails 5.1.4 depends on `websocket-driver (~> 0.6.1)` and `async-websocket` depends on `websocket-driver (~> 0.7.0)`. How hard would it be to change the websocket driver (for myself)? As far as I can tell, the only code related to this is in `ping.rb`. And are t

[2018-11-21 20:02] dblock commented on #84
I imagine async wants a newer version of websocket-driver for a technical reason that you don't want to dig deeper in :)

Did you try using celluloid-io instead of socketry/async?

[2018-11-26 07:49] leechou commented on #84
thanks, reverted https://github.com/slack-ruby/slack-ruby-bot-server/commit/d1aa8a43edb72910feb813fa0eb7bc9fabaf803a and got it to work on celluloid

[2018-11-26 07:49] #84 closed

[2018-11-26 07:52] leechou opened #85 "Integrations for Events API and Interactive Messages"
The server can add integrations for [Events API](https://api.slack.com/events-api) and [Interactive Messages](https://api.slack.com/interactive-messages).

[2018-11-26 07:56] leechou opened #86 "Check status of sent messages for RTM"
Can check for the response of slack server to check if the message was successfully sent or not as mentioned in the docs for [handling responses](https://api.slack.com/rtm#handling_responses). This will allow clients to update messages already sent.

[2018-12-23 21:45] suung opened #87 "Gem Load Error is: uninitialized constant Async::IO::Stream::BLOCK_SIZE"
When I run ```rackup```

I get

[code]

[2018-12-24 20:56] suung commented on #87
I think I fixed this with bundle update async-websocket, which downgraded async

[code]

Now the error is gone

[2018-12-26 18:56] dblock commented on #87
I don't think `rackup` uses bundler the same way and you're ending up with a different version. So `bundle exec rackup` should work without changes.

I'll close this for now, but please feel free to ask more questions here!

[2018-12-26 18:56] #87 closed

[2018-12-30 22:20] suung commented on #87
ok, thanks for your work

[2019-01-16 21:34] ashkan18 opened #88 "Running the server and specs fails for ActiveRecord based sample app"
# Problem
Seeing this error when trying to `rackup` and also running specs for active record sample app:

[code]

# Possible Cause?
Looking deeper it seems maybe with `grape-1.2.2` adding `SortHelper` in https://github.com/slack-ruby/slack-ruby-bot-server/blob/79313f79d342968f5744b66ee8b7a1ebfa20b743/lib/slack-ruby-bot-server/api/endpoints/teams_endpoint.rb#L7 doesn't seem to add `sort` method to

[2019-01-17 00:19] dblock commented on #88
Interesting, `sort` was a class method. It's probably a regression from https://github.com/ruby-grape/grape/pull/1803. You (or someone) should try writing a spec in Grape for this. We should be fixing it.

[2019-01-17 19:39] dblock commented on #88
Fix in https://github.com/slack-ruby/slack-ruby-bot-server/pull/89.

[2019-01-17 19:59] #88 closed

[2019-02-07 17:06] muneebaahmad opened #91 "Auth for publishing"
I am trying to publish my bot but Slack is asking for a redirect url which I have set up as following:
[code]

In the redirect url they send us a code which we then use with the client id and secret to get an access_token. What I'm wondering is how do I use this access_token for all subsequent requests (or do I not need to?)

[2019-02-08 03:42] muneebaahmad commented on #91
Hi Daniel,

Thanks a lot for the detailed reply! I am confused as to what to put in the
redirect url in the slack setup. Would it be myherokuapp.com/teams?
I am using slack-ruby-bot. This is how my commands are set up:

module SlackApp
  module Commands
    class Math < SlackRubyBot::Commands::Base

      command 'calculate' do |client, data, _match|
        client.say(channel: data.channel, text:

[2019-02-08 03:45] muneebaahmad commented on #91
Hi Daniel, Thanks a lot for the detailed reply! I am confused as to what to put in the redirect url in the slack setup. Would it be myherokuapp.com/teams? I am using slack-ruby-bot. This is how my commands are set up:

`module SlackApp
module Commands
class Math < SlackRubyBot::Commands::Base
command 'calculate' do |client, data, _match|
client.web_client.chat_postMessage( channel: data.channel, t

[2019-02-15 21:04] joelbyler opened #92 "Is it possible to use the otr-activerecord option on heroku?"
Tried deploying to heroku with something based on the `otr-activerecord` sample but I'm getting some errors.

Example:
[code]

Any help or insights that you could share on this problem would be greatly appreciated.  Thank you!

[2019-02-24 23:08] dblock commented on #92
You will need to modify https://github.com/slack-ruby/slack-ruby-bot-server/blob/master/sample_apps/sample_app_activerecord/config/postgresql.yml accordingly. If you want to contribute changes that are ENV-based for the `production` environment that would be great. Thanks.

[2019-02-25 19:42] dblock commented on #78
In #93 the ping worker has been removed in favor of an implementation in slack-ruby-client.

[2019-02-25 19:42] #78 closed

[2019-03-06 23:16] aok-solutions opened #94 "Access state param in Add-to-Slack response"
When using the [Add to Slack button](https://api.slack.com/docs/slack-button), there is an optional `state` parameter that allows you to send additional information that will be returned upon completion of the request (Slack recommends using it to avoid forgery attacks).

Is there a way to access this parameter? I will try opening a pull request to see if I can expose it in the `creating` callback

[2019-03-07 07:12] dblock commented on #94
I believe this shows up as a query parameter, so https://github.com/slack-ruby/slack-ruby-bot-server/blob/master/public/scripts/register.js#L34 could (should) be modified to include it along with `code`. Maybe you can test that and contribute?

[2019-03-13 15:04] dblock commented on #94
Closed via #95.

[2019-03-13 15:04] #94 closed

[2019-03-24 13:55] dblock commented on #92
The sample was modified in #90 to do just that, closing.

[2019-03-24 13:55] #92 closed

[2019-03-24 13:56] dblock commented on #57
Closing, this works.

[2019-03-24 13:56] #57 closed

[2019-03-24 14:29] #68 closed

[2019-03-24 16:55] #36 closed

[2019-03-24 17:10] #24 closed

[2019-03-24 17:10] dblock commented on #24
I edited the README quite a bit in https://github.com/slack-ruby/slack-ruby-bot-server/pull/100.

[2019-03-24 17:12] dblock commented on #86
@leechou Can you clarify? The client will raise exceptions on error today. What did you mean?

[2019-03-24 17:14] dblock commented on #85
We could use something first class. Right now you'd have to roll your own.

Examples:

Events: https://github.com/dblock/slack-strava/blob/master/slack-strava/api/endpoints/slack_endpoint.rb#L86
Interactive Messages: https://github.com/dblock/slack-strava/blob/master/slack-strava/api/endpoints/slack_endpoint.rb#L66

[2019-03-24 17:15] dblock commented on #82
Ping was deleted in #93.

[2019-03-24 17:15] #82 closed

[2019-03-24 17:30] dblock commented on #37
The legacy migration was removed in https://github.com/slack-ruby/slack-ruby-bot-server/pull/101/files.

[2019-03-24 17:30] #37 closed

[2019-03-27 18:55] darbyfrey commented on #68
🔥 Thank you @dblock!

[2019-04-21 08:59] khyatisoneji opened #102 "superclass mismatch for class Team"
I am using Rails and I have created my own team and user model.

I have specified it in models.rb file:
[code]

If I have Team as an Active Record, then it says superclass mismatch.
[code]

If I simply have it as a class, it doesn't provide with `team.users` function.
[code]
The above code throws exception saying that `team.users` function doesn't exist

[2019-04-22 13:16] dblock commented on #102
We declare this model as child of `ActiveRecord::Base` in https://github.com/slack-ruby/slack-ruby-bot-server/blob/master/lib/slack-ruby-bot-server/models/team/activerecord.rb#L3, so you should too instead of `ApplicationRecord`. The latter inherits from the former and I don't think it matters for your application, but I would carefully read https://stackoverflow.com/questions/37359527/why-rails-5

[2019-04-22 13:16] #102 closed

[2019-09-17 09:58] aafaq-hassan-confiz opened #107 "How to use MySQL?"
Documentation is only mentioning MongoDB and Postgresql support. How to use MySQL with it?

[2019-09-17 12:19] dblock commented on #107
Similarly to PG, but with mysql gems. Give it a try, maybe add integration tests for MySQL in this project and document it?

[2020-02-08 03:34] naomichi-y opened #108 "oauth_authorization_url_mismatch error"
When sending POST `/api/teams` will cause an `oauth_authorization_url_mismatch` error. May be because default auth of Slack app has been changed to OAuth v2.

Error occurs on this line.
https://github.com/slack-ruby/slack-ruby-bot-server/blob/0b8bbbba45a2b07f35b223b4c18ec86888fc0f49/lib/slack-ruby-bot-server/api/endpoints/teams_endpoint.rb#L43

Perhaps, instead of `oauth_access`, it can be avoided

[2020-02-10 14:07] dblock commented on #108
I don't know anything about these changes, but would appreciate a PR that fixes this.

[2020-02-10 18:21] naomichi-y commented on #108
This problem has also occurred in other libraries, and is due to a change in Slack specifications.

* https://stackoverflow.com/questions/60114321/installing-dialogflow-bot-in-slack-fails-due-to-oath-authorisation-url-mismatch
* https://github.com/howdyai/botkit/issues/1892

I changed to use `oauth_v2_access`, but response parameter seems to be different ...

* https://api.slack.com/methods/oauth.

[2020-03-30 04:05] patrick-motard opened #109 "sample_app_activerecord errors"
Following the instructions found [here](https://github.com/slack-ruby/slack-ruby-bot-server/tree/master/sample_apps/sample_app_activerecord)
[code]
Yields:
[code]

And `foreman start` yields:

[code]

[2020-03-30 04:07] patrick-motard commented on #109
I copied this example folder from the repo to a new project:
`cp -R slack-ruby-bot-server/sample_apps/sample_app_activerecord/* ~/code/chatbot`

And found that the Gemfile had a relative path to the slackbot repo. Had to fix that as well.

[2020-03-30 13:51] dblock commented on #109
If you could PR fixes that'd be great!

[2020-04-13 17:33] dblock commented on #109
Fixed in #110 and #111.

[2020-04-13 17:33] #109 closed

[2020-05-29 12:15] dblock opened #116 "Add server analytics"
Ala https://databaselog.com/ that would provide instant server analytics.

Teams registered, active, etc.

[2020-06-02 15:55] jmontes-pentalog opened #117 "uninitialized constant SlackRubyBot (NameError)"
Hi guys!

I Follow the instructions on the gem documentation and using the ActiveRecord example app but I'm getting this error (/commands/help.rb:1:in `<top (required)>': uninitialized constant SlackRubyBot (NameError) ) and IDK what's wrong.

Please, anyone, know what's wrong

[2020-06-02 17:18] dblock commented on #117
What are you typing? Please provide all the steps with as many specifics as possible?

[2020-06-02 18:34] jmontes-pentalog commented on #117
Sure @dblock!

this is the config.ru
[code]
this is command.rb:

[code]

this is /commands/help.rb (change this ` for this ' for this comment) :
[code]
this is my gemfile:

[code]

I set up my .env file with SLACK_CLIENT_SECRET, SLACK_API_TOKEN, and SLACK_CLIENT_ID.

all of these files are in the slack-ruby-bot-server activerecord example and I just follow the
 steps on the documentation using ngr

[2020-06-02 18:51] dblock commented on #117
if you comment out `# Bundler.require :default`, you're not requiring anything that is in Gemfile, aka all the gems. That is needed so you can load things like slack-ruby-bot.

I imagine you were getting a different problem when you had that?

[2020-06-02 19:25] jmontes-pentalog commented on #117
thanks, @dblock!! it worked, I forgot why I comment that line.

When I run ```foreman start``` run without any problem but when I clicked the slack add button and I allow the permissions to my workspace, every time I call the bot action help, nothing happens (attach image).
![slack_crop](https://user-images.githubusercontent.com/62037918/83561101-e3cf5e80-a4dc-11ea-8f15-4c973aa61951.png)

Then I r

[2020-06-02 22:23] dblock commented on #117
Your bot doesn't seem to be receiving the redirect from slack after you approve it. Or does it? It should go back to your page, then a JavaScript call is made to your local server to register/start the team. See if it does that, maybe there's another error?

I had recorded a video of this end-to-end a while ago, it could be helpful, https://code.dblock.org/2016/03/11/your-first-slack-bot-service-v

[2020-06-27 21:37] junjizhi opened #119 "How to integrate this lib with a Rails app?"
Found the discussion: https://github.com/slack-ruby/slack-ruby-bot-server/issues/3 back in 2016:

Has this changed?

I have an existing Rails app and want to use this library. What's your suggestion?

I also looked at [slack-ruby-bot](https://github.com/slack-ruby/slack-ruby-bot/), but it is still building a legacy bot, which requires Slack API token in `.env`. My goal is to use the new OAuth work

[2020-06-28 12:59] dblock commented on #119
I wouldn't say that anymore.

Apps [call](https://github.com/slack-ruby/slack-ruby-bot-server/blob/767e82ce227e4af48f17fed95ed1c44eeb3a7548/sample_apps/sample_app_activerecord/config.ru#L22) Rack `run SlackRubyBotServer::Api::Middleware.instance` which itself [is a bunch of Rack middleware](https://github.com/slack-ruby/slack-ruby-bot-server/blob/master/lib/slack-ruby-bot-server/api/middleware.rb#

[2020-06-28 14:42] junjizhi commented on #119
You're right. Adding slack-ruby-bot-server config in `config.ru` seems to work. My `config.ru`:

[code]

I did `rackup` and started `ngrok http 9292`. The server was able to receive slash command request, but ran into the following error:

[code]

@dblock Have you seen this before?

[2020-06-29 12:39] dblock commented on #119
You're not too far.

You cannot have two `run` apps in Procfile as far as I know. So you're right, you should figure out how to mount as a middleware. But don't try to mount the entire server middleware because it duplicates what Rails does. The whole slack-ruby-bot-server project is a bunch of static pages to support slack oauth, a Grape API to save a token when oauth workflow finishes, and a sla

[2020-07-21 13:25] dblock opened #124 "Extract slack-ruby-bot-server-realtime"
Not all bots need a realtime component. Extract the service parts into a slack-ruby-bot-server-realtime extension.

[2020-08-15 19:28] CrazyOptimist commented on #108
Oh, snap!
Until when would be the classic bot supported?
Did you figure out the solution @naomichi-y ?
Guess this gem also will have to have v2 which might be totally rewritten.

[2020-08-18 02:11] CrazyOptimist opened #126 "gem 'cursor_pagination' is not working with rails model generator"
Can we replace this gem with another one which is actively maintained?

[2020-08-18 12:20] dblock commented on #126
Please submit a PR.

[2020-08-19 02:35] CrazyOptimist commented on #126
okay, I will create one closing this issue.

[2020-09-28 09:15] CrazyOptimist commented on #119
Can we close this issue with this new repo?
https://github.com/CrazyOptimist/slack-rails-bot-starter
Any issue or question would be welcomed!
I will be improving it whenever I have some time to take care of it.
Also will soon dig into the cursor pagination issue @dblock
Thank you!

[2020-09-28 16:20] dblock commented on #119
Want to PR a link under "Example Bots Using Slack Ruby Bot Server" and we can close this, @CrazyOptimist?

[2020-09-28 16:33] dockerlead commented on #119
Sure

[2020-09-28 16:42] CrazyOptimist commented on #119
Sure, give me a few minutes, will shoot a PR closing this :)

[2020-09-28 19:06] #119 closed

[2020-10-04 03:20] CrazyOptimist commented on #108
https://github.com/slack-ruby/slack-ruby-bot-server#html-templates
There is no 'bot' scope and the permission has been fine-grained in the new slack api, what is your opinion in modifying the static files template in `public` directory @dblock ?
[code]
I've tried to use `<%= ENV['SLACK_CLIENT_SCOPE'] %>` but weirdly, it didn't work despite of that the client_id was working well.
I need your input

[2020-10-04 21:26] CrazyOptimist commented on #117
Hey @jmontes-pentalog
If you were to use `rackup`, you should have used `bundle exec rackup`.
***
I guess you've created a slack app from https://api.slack.com/apps, which still doesn't work with this gem by default.
Please try to create a new app from https://api.slack.com/apps?new_classic_app=1 instead.

[2020-10-05 00:32] dblock commented on #108
Yes, we need to allow users to customize this and remove the scope per whatever the newer correct way of doing this is.

[2020-10-05 07:17] CrazyOptimist commented on #108
I've already built a docker image with ruby v2.7, firefox v81.0, geckodriver v0.27.0 for building this gem and the tests were all green, everything was just fine except for a few warnings just like in TravisCI log.
Here is my trying for upgrading to use `oauth_v2_access`:
![teams_endpoint_spec.rb](https://user-images.githubusercontent.com/55074937/95050234-cd1a5d80-06b0-11eb-80bb-7a78bfdc7e01.png)

[2020-10-05 07:27] CrazyOptimist commented on #108
I barely guess we need much works in all the libraries under "slack-ruby" to make it all work with the new slack api.
A bit frustrating 🤔

[2020-10-05 11:57] dblock commented on #108
Looks like you are getting `not_allowed_token_type`, I really haven't spent any time on this, hope you can figure it all out soon!

[2020-10-08 07:43] CrazyOptimist commented on #108
Basically I got the direction where we should head to.
[SlackRubyBot::Client](https://github.com/slack-ruby/slack-ruby-bot/blob/master/lib/slack-ruby-bot/client.rb) uses(inherits) `Slack::Realtime::Client`
That's the problem causing all those noisy issues. Once we exchange the very part with `Slack::Web::Client`, we can get back vitality to the gems(slack-ruby-bot, slack-ruby-bot-server, slack-rub

[2020-10-08 13:14] dblock commented on #108
Yes, correct. You can make backwards incompatible changes since it's on its way out, no need to support legacy.

[2020-10-10 10:24] CrazyOptimist commented on #108
Thank you for encouragement and more.
Changes we are going to have is too destructive for existing repos. I have been looking around the repos for a few days now.
Under slack-ruby, we have
slack-ruby-bot
slack-ruby-bot-server
slack-ruby-bot-server-events
IMHO, we'd rather archive them all and create a new gem(or continue on slack-ruby-bot, I think the name `slack-ruby-bot-server` is the best among

[2020-11-08 15:14] dblock opened #128 "https://slack-ruby-bot-server.herokuapp.com no longer has a mongodb"
The mLab MongoDB team has chosen to discontinue their Heroku add-on. The mLab MongoDB add-on will be removed from all Heroku apps on November 10, 2020. We advise you to remove the mLab MongoDB add-on yourself before November 10, 2020 via the Dashboard or the CLI.

[2020-11-08 15:16] dblock commented on #128
There's no more free tier of any mongodb on heroku, so having the app is pointless.

[2020-11-08 15:35] dblock commented on #128
Created a free cluster on Atlas, https://cloud.mongodb.com/v2/5fa80c0b7e60f52cca9589d6#clusters

[2020-11-08 15:35] #128 closed

[2020-11-15 20:33] dblock commented on #124
https://github.com/slack-ruby/slack-ruby-bot-server/pull/129

[2020-11-15 20:33] #124 closed

[2020-11-16 08:29] CrazyOptimist opened #131 "oauth_authorization_url_mismatch for new slack apps"
https://github.com/slack-ruby/slack-ruby-bot-server/blob/13f330c36b9b7d7843c478877415a565e1be5d39/lib/slack-ruby-bot-server/app.rb#L35
I'm sorry I didn't read your code enough bc I don't have much time right at the moment.
Would be great if you let me know what's this for.
I'm getting this error:
[code]
Sorry again for lack of explanation..
***
Tried without these two lines in config.ru:
[code]
Go

[2020-11-16 12:13] dblock commented on #131
Did you follow https://github.com/slack-ruby/slack-ruby-bot-server/blob/master/UPGRADING.md#upgrading-to--100?

[2020-11-16 12:16] dblock commented on #131
You have two problems, the first is undefined `SlackRubyBot`. That comes from RTM, you should find where you're referencing it and get rid of it.

The second problem looks legit. Have to change oauth to the v2 to make new slack apps, I forgot about that.

[2020-11-16 16:27] CrazyOptimist commented on #131
Check the very top of this thread, `SlackRubyBotServer::App#configure_global_aliases!` function is referencing it.
For the second issue, please check if you can connect successfully with a new v2 app.
Also you will have to change this in your `public/index.html.erb`
From
[code]
To
[code]

[2020-11-16 16:29] CrazyOptimist commented on #131
I'm sure I did. What could be a missing point?

[2020-11-16 16:34] CrazyOptimist commented on #131
Ahh, I got your code now, you used `SlackRubyBotServer::Config.oauth_version`
Okay, let me try with the new code again.

[2020-11-17 14:09] #131 closed

[2020-11-27 20:20] dblock opened #134 "Migration guide for legacy Slack apps to Granular Scopes"
Long version: https://code.dblock.org/2020/11/30/migrating-classic-slack-ruby-bots-to-granular-permissions.html

### Phase 1

This is a noop, but will ensure that the old RTM bot can co-exist in the same database as the newer version of the app with granular scopes.

1. Upgrade to slack-ruby-bot-server-rtm , which extracts real-time components, e.g. https://github.com/slack-ruby/slack-shellbot/com

[2020-11-30 15:18] #134 closed

[2020-12-10 11:48] primary0 opened #136 "Unable to use Postgres"
I can't seem to be able to start the app with Postgres 11. With Mongo it works fine. Postgres itself is fine (works with Rails, Elixir, etc). Would appreciate if anyone could give me some pointers.

**config/postgresql.yml**
[code]

**Error logs**
[code]

**Gemfile**
[code]

**Gemfile.lock**
[code]

[2020-12-10 14:34] dblock commented on #136
I think you need an `establish_connection` call and explicit loading of the config. Take a look at https://github.com/slack-ruby/slack-ruby-bot-server/blob/v0.12.2/sample_apps/sample_app_activerecord/config.ru#L9 for example.

[code]

We used to have a sample app here and I think people could find that code, but I moved the samples out. If this works:

1. Let's add the above to the README.
2. Let'

[2020-12-13 09:06] primary0 commented on #136
That worked thanks! I will send a PR for the README addition.

[2020-12-14 13:49] dblock commented on #136
Let's reopen till we have it in the README.

[2020-12-21 05:30] dockerlead commented on #108
`/close`
😄
Thanks for your dedicated work @dblock 👍

[2020-12-21 05:33] CrazyOptimist commented on #108
`/close`
😄
Thanks for your dedicated work @dblock 👍

[2020-12-27 22:44] CrazyOptimist commented on #117
This issue can be closed now.
You can now create new slack apps, not legacy ones.

[2020-12-27 22:45] CrazyOptimist commented on #108
This issue can be closed now.

[2020-12-28 13:54] #117 closed

[2020-12-28 13:54] #108 closed

[2020-12-28 13:55] dblock commented on #136
@primary0 Bump?

[2020-12-30 18:14] dblock commented on #136
https://github.com/slack-ruby/slack-ruby-bot-server/commit/99e91edbc3092dc9f9665fb8c9be3eebff3252f1

[2020-12-30 18:14] #136 closed

[2021-05-29 18:44] dwyn opened #138 "NameError: uninitialized constant SlackRubyBotServer::Api::Presenters::TeamPresenter::Boolean w/mongoid 7.3.x"
Hiya!

I am actually using `slack-ruby-bot-server` in another slack-bot rails app. [This is the repo](https://github.com/dwyn/cmm-cipherbot). When running `rails s`, I receive the following error:

[code]

This is the entire stack trace.

[code]

This is my Gemfile:
[code]

Any suggestions on debugging this error? Thanks in advance!

[2021-05-29 20:50] amar-sharma opened #139 "Throws a Runtime Error if team is already regstered."
`02:09:59 web.1  | E, [2021-05-30T02:09:59.774355 #15140] ERROR -- : RuntimeError: Team Enlite is already registered.
02:09:59 web.1  |   F:/Ruby30-x64/lib/ruby/gems/3.0.0/gems/slack-ruby-bot-server-1.2.0/lib/slack-ruby-bot-server/api/endpoints/teams_endpoint.rb:95:in 'block (2 levels) in <class:TeamsEndpoint>'`

If I want to let users re install the app with custom parameter, it can't handle that

[2021-05-31 14:33] dblock commented on #138
This comes from Grape, https://github.com/ruby-grape/grape/blob/master/lib/grape/validations/validators/coerce.rb#L5, so it' probably something about order of includes. I can take a look if you haven't found a solution yet?

[2021-05-31 14:35] dblock commented on #139
I think you could just implement the re-install workflow and succeed in that case instead of raising an error?

[2021-06-01 04:27] dwyn commented on #138
I haven't found a solution yet. I can try tracking down which `includes` may be out of order. I'm open to any other suggestions you have. Thanks in advance!

[2021-06-01 21:56] dblock commented on #138
Broke because https://jira.mongodb.org/browse/MONGOID-4753 was fixed.

[2021-06-01 22:55] #138 closed

[2021-06-01 23:00] dblock commented on #138
Someone has already tried to fix this in https://github.com/slack-ruby/slack-ruby-bot-server/pull/137, linking here.

[2021-06-01 23:00] dblock commented on #138
Fixed in #140.

[2021-06-03 13:53] amar-sharma commented on #139
I've to re implement the whole teams_endpoint or have to maintain two redirect URLs? Not sure if it is ideal, I am wondering what that exception's purpose is? Because we would want new tokens to be updated in Teams model in case user re-installs?
Sorry if that doesn't make sense, new to Slack bot Dev.

[2021-06-04 14:33] dblock commented on #139
@amar-sharma

You definitely don't want to reimplement the endpoint and maintain 2 URLs, just get rid of the exception. But you can't remove it, its original intent is to avoid calling `activate!` which in RTM starts a new instance of a bot. If you do that, you'll end up with 2 connections both responding, which is ... bad. For RTM implementations you'd need to find a way to shutdown the existing

[2021-06-04 15:44] amar-sharma commented on #139
So the activate is only used for RTM, If I am not using RTM I can just get rid of `activate!` all together?

[2021-06-04 15:46] amar-sharma commented on #139
How about `team.deactivate id if team.active?` instead of raise and let it proceed?

[2021-06-04 17:56] dblock commented on #139
https://github.com/slack-ruby/slack-ruby-bot-server/blob/99e91edbc3092dc9f9665fb8c9be3eebff3252f1/lib/slack-ruby-bot-server/models/team/methods.rb#L15 does not do what you think it does, it marks the team inactive, doesn't shutdown the connection, etc.

In your own code I *think* it's safe to just remove both the exception and `activate!`, but I would double-check. You should try and make this wor

[2021-06-05 07:10] amar-sharma commented on #139
okay thank you for the response, I'll look into the code, find a way to reopen the connection and create a PR.

[2021-06-10 14:52] dblock opened #141 "Add support for socket mode"
https://api.slack.com/apis/connections/socket

[2021-11-26 17:35] chrisbloom7 commented on #141
I need to enable socket mode on a new internal slack application. I'm curious to know if you've made any progress on implementing this yet, as well as if you expect this functionality to be ported over to the slack-ruby-client.

[2021-11-26 22:45] dblock commented on #141
AFAIK nobody has worked on this, please contribute!

[2021-11-29 18:10] chrisbloom7 commented on #141
I needed to explore this as a standalone client to understand the fundamentals of how it works. Now that I have a better understanding of it I'll try to think about how this might integrate into this stack. Since I'm most familiar with `slack-ruby-client` - do you think it would make sense to try to add it there and then port it here? I'm not sure how the two projects relate to each other and what

[2021-11-30 12:44] dblock commented on #141
- `apps.connections.open` definitely belongs in slack-ruby-client
- socket mode specifics likely belong in an extension similar to https://github.com/slack-ruby/slack-ruby-bot-server-rtm

[2022-03-26 16:19] dblock opened #148 "Replace cursor_pagination"
https://github.com/Kukunin/cursor_pagination will no longer be maintained. I've maintained a fork, but it doesn't make sense long term, https://github.com/slack-ruby/slack-ruby-bot-server/blob/master/Gemfile#L12.

Replace it with another option, e.g. https://github.com/ddnexus/pagy.

[2022-08-01 12:45] col opened #149 "Add to Slack button - Redirect Endpoint?"
I'm a bit confused by the documentation.

Is "The endpoint at that URL contains code that persists the bot token each time a Slack client is instantiated for the specific team" part of the `slack-ruby-bot-server` code or is this something we need to build out ourselves.

If it's part of the existing code, where is this code and what path should I be using for the redirect url?

It it's not part of

[2022-08-04 13:52] dblock commented on #149
There was a ton of evolution here from a monolithic gem to extracting -rtm and -events, and Slack changing how they do things quite dramatically, so I understand your confusion. The default implementation is part of the library, see https://github.com/slack-ruby/slack-ruby-bot-server/blob/master/lib/slack-ruby-bot-server/api/endpoints/teams_endpoint.rb#L33.

To make things simple I suggest you sta

[2022-08-04 13:52] #149 closed

[2022-10-26 17:22] Altonymous opened #150 "What about this gem sets it up to show the Add To Slack button?"
I ask because the README suggest the button will appear auto-magically?  I have a brand new rails app I've created to learn how to do this.  I don't see the Add to Slack button.. I would assume I need to generate a new Controller, setup the default route, and add the code from the Slack documentation to see it?

Is that not required?  Did I mess something up that should do it for me?

https://gith

[2022-10-26 19:14] dblock commented on #150
Since this gem was written there has been ... changes. I would start with https://github.com/slack-ruby/slack-ruby-bot-server-events-sample today.

Otherwise for this specific question there's a note above about adding this button:

[code]

[2022-10-27 17:01] Altonymous commented on #150
I switched over to the sample you suggested above and it's working great.  I am curious though.. if I want to add additional api end points for my own purposes within this sample, is there an easy way to do that?

[2022-10-27 17:01] #150 closed

[2022-10-27 18:15] dblock opened #151 "Document adding a RESTful API"
Coming from https://github.com/slack-ruby/slack-ruby-bot-server/issues/150#issuecomment-1293818003, document how to add a RESTful API.

This monkey-patching should work:

[code]

We should document, and possibly implement a cleaner way to do this.

It's a bit of a rabbit hole. The root endpoint is https://github.com/slack-ruby/slack-ruby-bot-server/blob/master/lib/slack-ruby-bot-server/api/endpoin

[2022-10-27 18:16] dblock commented on #150
@Altonymous Yes.

I opened https://github.com/slack-ruby/slack-ruby-bot-server/issues/151 to document it and typed out an example that I _think_ should work. Care to help with trying it out and PRing some documentation? And maybe code to improve this capability that doesn't require monkey-patching?

[2022-10-27 22:37] Altonymous commented on #151
So I had already figured out how to do it on my own prior to looking at this.

In essence all I did was modify config.ru to run SlackRubyBotServer alongside my Grape::API class...

`run Rack::Cascade.new [SlackRubyBotServer::Api::Middleware.instance, MyApp::API]`

[2022-10-28 00:47] Altonymous commented on #151
It looks like the recommended way is to mount my Grape API in config/routes.rb for Rails 7.  However, when I attempt to do that instead of the above it stops working.  The only way I've been able to get both to successfully work together is the Cascade method above.

[2022-10-28 01:42] dblock commented on #151
I like the `Rack::Cascade` solution because it's clean and independent, but then it doesn't sit behind other stack items, it's a whole stack of its own (e.g. caching or `Rack::Cors`). I think in the end the mot efficient solution is a single middleware stack where the bot API is mounted next to any other API. Would love to see 1) a proper extension point, 2) a working example added to the sample a

[2022-10-28 02:03] Altonymous commented on #151
Yeah, I'm at the point now where the Cascade isn't working so great.  I'm trying to understand better what your monkey-patch above is doing.. to see if I can get it working in my app.  Not sure I quite understand what it's doing quite yet though.

[2022-10-28 03:19] Altonymous commented on #151
I have bene unsuccessful in getting your monkey-patch to work yet.

I tried adding the below to my config.ru.  Which I thought was an equivalent to what you posted above.. but it continues to block other routes.

`module SlackRubyBotServer
  module Api
    module Endpoints
      class MyEndpoint < Grape::API
         mount MyApp::V1::Base
      end

      class RootEndpoint < Grape::API
        mo

[2022-10-28 16:44] Altonymous opened #152 "After removing the App from the last Organization on Slack side.. The api/status doesn't handle AccountInactive error appropriately"
Get the following error after I've removed the App from all Organizations when hitting the `api/status` end point.  Not sure how or where this is getting called?

Side note: I tried cloning the repo and couldn't get the specs to run. (Failed on Bundler.require in the spec_helper.rb)

[code]

[2022-10-30 15:48] Altonymous opened #153 "Is there anyway to extend the Team model to add my own attributes?"
Referencing this model:
 - https://github.com/slack-ruby/slack-ruby-bot-server/blob/a6786f945ef3926eb155d2611e694357303e820f/lib/slack-ruby-bot-server/models/team/mongoid.rb

[2022-11-01 11:01] dblock commented on #152
The status endpoint is [here](https://github.com/slack-ruby/slack-ruby-bot-server/blob/master/lib/slack-ruby-bot-server/api/endpoints/status_endpoint.rb#L10). This error comes from [calling `Team.ping`](https://github.com/slack-ruby/slack-ruby-bot-server/blob/bc89f499cd0264856414ea91d6ff2796ee64f712/lib/slack-ruby-bot-server/api/presenters/status_presenter.rb#L27). The stack should contain that at

[2022-11-01 11:02] dblock commented on #153
I monkey patch these in my projects.

[code]

There should be a cleaner way.

[2022-11-01 12:00] Altonymous commented on #153
I attempted to do that but couldn't get it to work.

Not sure what I did incorrectly, is there a special way I need to tell rails to load the new class other than placing it the models directory of Rails?

[2022-11-01 12:54] dblock commented on #153
I don't think so. Example: https://github.com/dblock/slack-sup/blob/master/slack-sup/models/team.rb

Put up a small app and show how it's not working?

[2022-11-02 01:14] Altonymous commented on #153
I'll try and put something together to demonstrate.  (Leaving some notes here to help me in a bit.)

Rails Version: 7.0.4
Ruby Version: 3.1.2p20

Gist: https://gist.github.com/Altonymous/96fb6c07294b86de0ea343ce007a4dbe

[2022-11-02 02:15] Altonymous commented on #153
https://github.com/Altonymous/example_app/blob/main/README.md

[2022-11-02 02:42] Altonymous commented on #153
Found this StackOverflow, finally.  (Google-fu Skill: +1)

https://stackoverflow.com/a/48665268

The "answer" doesn't do it, but the one under it seems to work.

[2022-11-02 18:25] dblock commented on #153
@Altonymous Thanks. I'd like this to be documented, but even more I'd like https://github.com/slack-ruby/slack-bot-on-rails to be updated to the latest version of slack-ruby-bot-server and its libraries. Maybe you can help?

[2022-11-03 01:35] Altonymous opened #154 "Handle multiple events in a single configure block"
Could you give me an overview of where I could find the code that sets up event collection?

I looked through the code and couldn't figure out how it's being done.  I think it would be great to be able to pass in multiple events that are similar in type.

**Example**
[code]

[2022-11-03 14:32] dblock commented on #154
This belongs in slack-ruby-bot-server-events, the code is [here](https://github.com/slack-ruby/slack-ruby-bot-server-events/blob/master/lib/slack-ruby-bot-server-events/config.rb#L26). I'll transfer the issue, this is a good idea.